<%- include("../layouts/header.ejs") %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto  " style="margin-top: 100px;">
        <div class="card">
          <form class="form" method="post">
            <% if(typeof message !=='undefined' ){ %>
              <h6 style="color: rgb(224, 86, 86);">
                <%= message %>
              </h6>
              <% } %>
                <p>LISTEn Login</p>

                <div class="group">
                  <input style="width: 300px;" class="main-input" name="username" type="text" >
                  <span class="highlight-span"></span>
                  <label class="lebal-email">Username</label>
                </div>
                <div class="container-1">
                  <div class="group">
                    <input style="width: 300px;" class="main-input" type="password" name="password">
                    <span class="highlight-span"></span>
                    <label class="lebal-email">password</label>
                  </div>
                </div>
                <button class="submit">submit</button>
                <li><a href="/signup" class="icoTwitter" title="Twitter">Don't have account? signup!</a></li>

          </form>

        </div>
      </div>
    </div>
  </div>

  <%- include("../layouts/footer.ejs") %>