<%- include("../layouts/header.ejs") %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto  " style="margin-top:2px;">
        <div class="card">


          <form class="form" method="post">
            <% if(typeof message !=='undefined' ){ %>
              <h6 style="color: rgb(224, 86, 86);">
                <%= message %>
              </h6>
              <% } %>
            <p>LISTEn signup</p>
           
            <div class="group">
              <input style="width: 300px;"class="main-input" type="text" name="firstname" >
              <span class="highlight-span"></span>
              <label class="lebal-email" >First Name</label>
            </div>
            <div class="container-1">
              <div class="group">
                <input style="width: 300px;" class="main-input" type="text" name="lastname" >
                <span class="highlight-span"></span>
                <label class="lebal-email">Last Name</label>
              </div>
            </div>
            <div class="container-1">
                <div class="group">
                  <input style="width: 300px;" class="main-input" type="email" name="email"  >
                  <span class="highlight-span"></span>
                  <label class="lebal-email">Email</label>
                </div>
                </div>
                <div class="container-1">  
                  <div class="group">
                    <input style="width: 300px;" class="main-input" type="text" name="username" >
                    <span class="highlight-span"></span>
                    <label class="lebal-email">Username</label>
                  </div>
                  </div>
                  <div class="container-1"> 
                    <div class="group">
                      <input style="width: 300px;" class="main-input" type="password" name="password"  >
                      <span class="highlight-span"></span>
                      <label class="lebal-email">Password</label>
                    </div>
                    </div>
                    <div class="container-1">
                    <div class="group">
                      <input style="width: 300px;"  class="main-input"type="text" name="mobilenumber" >
                      <span class="highlight-span"></span>
                      <label class="lebal-email">Phone</label>
                    </div>
                  </div>
          
            <button class="submit">Signup</button>
            <li><a href="/login" class="icoTwitter" title="Twitter" >Already have an account? login!</a></li>
          </div>
          </form>
         
        </div>
      </div>
    </div>
  </div>

  <%- include("../layouts/footer.ejs") %>