<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="first-item">
          
          <ul>
            <li><a href="#">listen private limited, kasaragod,kerala,india</a></li>
            <li><a href="#">listen@company.com</a></li>
            <li><a href="#">9746585263</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <h4>Shopping &amp; Categories</h4>
        <ul>
          <li><a href="#">TWS</a></li>
          <li><a href="#">Wired Earphones</a></li>
          <li><a href="#">Head Phones</a></li>
          <li><a href="#">Neck Band</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Homepage</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h4>Help &amp; Information</h4>
        <ul>
          <li><a href="#">Help</a></li>
          <li><a href="#">FAQ's</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">Tracking ID</a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <div class="under-footer">
          <p>Copyright © 2023 listen Co., Ltd. All Rights Reserved.

            <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">SK</a>

          
          </p>
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
   
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
    <!-- jQuery -->









    
    <script src="/user_assets/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/user_assets/assets/js/popper.js"></script>
    <script src="/user_assets/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/user_assets/assets/js/owl-carousel.js"></script>
    <script src="/user_assets/assets/js/accordions.js"></script>
    <script src="/user_assets/assets/js/datepicker.js"></script>
    <script src="/user_assets/assets/js/scrollreveal.min.js"></script>
    <script src="/user_assets/assets/js/waypoints.min.js"></script>
    <script src="/user_assets/assets/js/jquery.counterup.min.js"></script>
    <script src="/user_assets/assets/js/imgfix.min.js"></script> 
    <script src="/user_assets/assets/js/slick.js"></script> 
    <script src="/user_assets/assets/js/lightbox.js"></script> 
    <script src="/user_assets/assets/js/isotope.js"></script> 
    <script src="/user_assets/assets/js/zoomsl.js"></script> 
    <!-- Global Init -->
    <script src="/user_assets/assets/js/custom.js"></script>


    <script>
      if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
    </script>
  </body>
</html>